@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
  }
a {
    text-decoration: none;
}

.header {
    z-index: 999;
    position: fixed;
    background-color: #739FE1;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.header img {
    height: 120px;
}

.header .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .menu a {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 10px;
    padding: 0 10px;
    color: #f7f7f7;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background-color;
}

.header .menu a:hover {
    background-color: #f7f7f7;
    color: #739FE1;
}

.header .toggle {
    color: #f7f7f7;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.landing {
    position: relative;
    width: 100%;
    min-height: 80vh;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .home {
    padding: 0 20px;
    margin-top: 200px;
    font-size: 32px;
    color: #f7f7f7;
    letter-spacing: 5px;
}

.about {
    position: relative;
    width: 100%;
    min-height: 60vh;
    background-color: #739FE1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.about .about-passion {
    width: 70%;
    height: auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin: 30px 10px;
    padding: 20px 20px;
}

.about .about-passion h2 {
    padding-bottom: 20px;
}
.about .about-passion p {
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 1px;
}

.about .about-fav {
    width: 60%;
    padding: 50px 20px;
}

.blogs {
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
}

.blogs h1 {
    font-size: 36px;
    padding-top: 40px;
}

.blogs .btn-blogs {
    margin: 10px 0;
    text-align: left;
}

.blogs .btn-blogs a{
    background-color: #739FE1;
    color: #f7f7f7;
    padding: 8px 10px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.2s;
}

.blogs .blog-card  {
    padding: 0 40px;
    /* height: 80vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blogs .blog-cards {
    padding: 0 40px;
    /* height: 80vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.blogs .blog-cards .blog{
    /* position: relative; */
    width: 30%;
    height: 290px;
    margin: 60px 20px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.blogs .blog-cards .blog:hover {
    height: 320px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.blogs .blog-cards .blog .thumbnail {
    height: 200px;
    width: 100%;
}

.blogs .blog-cards .blog .thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.blogs .blog-cards .blog .blog-info{
    padding: 10px;
}

.blogs .blog-cards .blog .blog-info .content-blog{
    display: none;
}

.blogs .blog-cards .blog .blog-info .info{
    font-size: 25px;
    font-weight: 600;
    color: #191919;
}

.blogs .blog-cards .blog .blog-details {
    padding: 0 20px 10px 20px;
    /* margin-top: 60px; */
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}

.blogs .blog-cards .blog:hover .blog-details {
    display: flex;
    flex-direction: row;
    opacity: 1;
    visibility: visible;
    border-radius: 5px;
}

.blogs .blog-cards .blog .blog-details .details {
    text-align: justify;
}

.blogs .blog-cards .blog .blog-details .btn{
    margin: 10px 0;
    text-align: left;
}

.blogs .blog-cards .blog .blog-details .btn a{
    background-color: #739FE1;
    color: #f7f7f7;
    padding: 8px 10px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.2s;
}

.blogs .blog-cards .blog .blog-details .btn a:hover {
    transform: scale(0.9);
}

.blogs .blog-card .blog{
    /* position: relative; */
    width: 80%;
    height: 290px;
    margin: 60px 20px;
    border-radius: 10px;
    background-color: #ffffff;
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.blogs .blog-card .blog:hover {
    height: 320px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.blogs .blog-card .blog .thumbnail {
    height: 200px;
    width: 100%;
}

.blogs .blog-card .blog .thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.blogs .blog-card .blog .blog-info{
    padding: 10px;
}

.blogs .blog-card .blog .blog-info .content-blog{
    display: none;
}

.blogs .blog-card .blog .blog-info .info{
    font-size: 25px;
    font-weight: 600;
    color: #191919;
}

.blogs .blog-card .blog .blog-details {
    padding: 0 20px 10px 20px;
    /* margin-top: 60px; */
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}

.blogs .blog-card .blog:hover .blog-details {
    display: flex;
    flex-direction: row;
    opacity: 1;
    visibility: visible;
    border-radius: 5px;
}

.blogs .blog-card .blog .blog-details .details {
    text-align: justify;
}

.blogs .blog-card .blog .blog-details .btn{
    margin: 10px 0;
    text-align: left;
}

.blogs .blog-card .blog .blog-details .btn a{
    background-color: #739FE1;
    color: #f7f7f7;
    padding: 8px 10px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.2s;
}

.blogs .blog-card .blog .blog-details .btn a:hover {
    transform: scale(0.9);
}

.blogs .blog-form {
    width: 50%;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.blogs .blog-form h2{
    padding: 20px;
}

.blogs .blog-form .field {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 5px;
    background-color: rgb(230, 230, 230, 0.6);
    font-size: 16px;
    margin-bottom: 20px;
    transition: .3s;
}

.blogs .blog-form .upload {
    width: 100%;
    padding: 20px 0 0 0;
    font-size: 16px;
}

.blogs .blog-form .field:hover {
    background-color: rgba(0,0,0,0.1);
}

.blogs .blog-form .field:focus {
    background-color: #f7f7f7;
    border: 2px solid rgb(30, 85, 250, 0.47);
}

.blogs .blog-form .area {
    min-height: 150px;
}

.blogs .blog-form .btn {
    width: 100%;
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: #739FE1;
    color: #f7f7f7;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
    border-radius: 5px;
}

.ck-editor__editable {
    min-height: 300px;
    max-height: 500px;
}

.contact-us {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 80px 100px;
}

.contact-us::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #739FE1;
    z-index: -1;
}

.contact-us .contact {
    max-width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.contact-us .contact .content-info {
    height: 100%;
    background: url(../img/img3.jpg) no-repeat center;
    background-size: cover;
}

.contact-us .contact .content {
    padding: 25px 40px;
}

.contact-us .contact .content h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.contact-us .contact .content h2:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #f7f7f7;
}

.contact-us .contact .content .field {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 5px;
    background-color: rgb(230, 230, 230, 0.6);
    font-size: 16px;
    margin-bottom: 20px;
    transition: .3s;
}

.contact-us .contact .content .field:hover {
    background-color: rgba(0,0,0,0.1);
}

.contact-us .contact .content .field:focus {
    background-color: #f7f7f7;
    border: 2px solid rgb(30, 85, 250, 0.47);
}

.contact-us .contact .content .area {
    min-height: 150px;
}

.contact-us .contact .content .btn {
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: #739FE1;
    color: #f7f7f7;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
    border-radius: 5px;
}

.alert {
    padding: 1.2rem 2rem;
    border-radius: 3px;
    margin: 2rem 0;
}

.alert-success {
    background-color: #c6f6d5;
    color: #22543d;
    display: none;
}

.footer {
    background-color: #24262b;
    padding: 60px 250px;
}

.footer .footer-col {
    width: 50%;
    padding: 0 15px;
}

.footer .footer-col h4{
    font-size: 18px;
    color: #F7F7F7;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer .footer-col p{
    font-size: 16px;
    color: #a5a1a1;
    padding-top: 40px;
    /* margin-bottom: 5px; */
}

.footer .footer-col ul {
    list-style: none;
}

.footer .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer .footer-col ul li a{
    width: 30%;
    font-size: 16px;
    text-transform: capitalize;
    color: #a5a1a1;
    font-weight: 300;
    padding-left: 20px;
    display: block;
    transition: all 0.3s ease;
}

.footer .footer-col ul li a:hover {
    padding-left: 0px;
}

.footer .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #191919;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #f7f7f7;
    transition: all 0.3s ease;
}

.footer .footer-col .social-links a:hover {
    color: #191919;
    background-color: #F7F7F7;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 920px){
    .header img {
        margin-left: -40px;
    }
    .header .toggle{
        display: block;
    }

    .header .menu {
        position: fixed;
        background-color: #739FE1;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 320px);
        top: 0;
        right: -100%;
        padding: 10px 20px;
        opacity: 0.9;
    }

    .header .menu.active {
        right: 0;
    }

    .header .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 025px;
    }

    .header .menu a{
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }

    .landing {
        min-height: 60vh;
    }

    .landing .home {
        padding: 0 40px;
        font-size: 24px;
    }

    .about .about-passion {
        width: 90%;
    }

    .about .about-passion p {
        font-size: 16px;
        font-weight: 500;
    }

    .about .about-fav {
        width: 90%;
        height: auto;
        padding: 10px 10px;
    }
    .about .about-fav h2 {
        display: none;
    }

    .about .about-fav p {
        font-size: 18px;
    }

    .blogs .blog-card {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .blogs .blog-card .blog {
        height: auto;
        width: 100%;
        margin: 20px 0;
    }
    .blogs .blog-card .blog .blog-info .info{
        font-size: 18px;
        font-weight: 900;
    }
    .blogs .blog-form {
        width: 80%;
    }
    .contact-us {
        padding: 40px 20px;
    }
    .contact-us .contact {
        max-width: 100%;
        grid-template-columns: 1fr;
    }
    .contact-us .contact .content-info {
        height: 250px;
    }
    .footer {
        padding: 40px 40px;
    }
    .footer .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
    .footer .footer-col ul li a{
        width: 60%;
    }
}